/* ------media query---------------*/


@media  screen and (max-width:768px) {
    .logo{
        width: 40px;
        height: 30px;
    }
    .navbar ul{
        font-size: small;
        gap:20px
    }

    .logo-box{
        height: 60px;
        bottom: 30px;
    }
    .logo-box img{
        height: 10px;
    }
    .card-box{
        gap: 10px;
    }
    .card-wrap{
        margin: 25px 0;
        height: 230px;
        width: 45%;
        position: static;
    }
    .card{
        height: 230px;
    }
    .card-description{
        padding: 5px;
        border-radius: 10px;
        bottom: 20px;
    }
    .card-description h2{
        font-size: 0.7rem;
    }
    .card-description p{
        font-size: 0.4rem;
    }
    .card-btn{
        padding: 2px 7px;
        border-radius: 10px;
        font-size: 0.6rem;
    }

    .facility{
        margin: 40px auto;
        width: 85%;
        /* display: block; */
    }
    .imagebg{
        height: 200px;
    }
    .image{
        height: 150px;
        width: 175px;
        left: 20%;
        top: -5px;
        border-radius: 20px;
    }
    .image21{
        width: 250px;
    }
    .facility-content{
        margin: 10px;
    }
    .facility-content h1{
        font-size: 1.3rem;
    }
    .facility-content p{
        font-size: 0.5rem;
        margin: 7px 0;
    }
    .facility-content button{
        font-size: 0.6rem;
        padding: 5px 7;
    }



    .article-section{
        padding: 20px 25px;
        border-radius: 30px;
    }
    .article-section h1{
        font-size: 1.7rem ;
    }
    .article-section p{
        font-size: 0.5rem ;
        margin: 20px 50px;
    }

    .subscribe-box{
        display: block;
    }
    .subscribe-box div {
        width: 60%;
        margin: 10px auto;
        
    }
    .subscribe-box div img{
        position: absolute;
        left: 20px;
        width: 15px;
        height: 15px;
    }
    
    .subscribe-box div input{
        font-size: 10px;
    }

    .subscribe-box button{
        font-size: 0.5rem;
    }


    .footer{
        margin: 30px auto;
        gap: 30px;
    }
    .footer-logo img{
        width: 70px;
        height: 60px;
    }
    .footer-logo p{
        margin: 10px 0;
        font-size: 10px;
    }
    .footer-logo div img{
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }
    .footer-logo{
        width: 40%;
    }

    .footer-content{
        gap: 30px;
    }
    .footer-content div ul li{
        margin: 5px;
        font-size: 12px;
    }
    .footer-content div h3{
        font-size: 13px;
    }
    
}

@media screen and (max-width:480px){
    .content-heading{
        font-size: 2rem;
    }
    .logo-box :first-child{
        display: none;
    }
    .navbar ul{
        display: block;
    }
    .card-heading{
        font-size: 2rem;
        margin: 30px 0;
    }
    .card{
        height: 200px;
    }
    .card-wrap{
        margin: 20px 0;
        height: 200px;
        width: 80%;
    }


    .facility{
        width: 90%;
    }

    .image{
        height: 130px;
        width: 145px;
        left: 23%;
        top: -5px;
        border-radius: 20px;
    }
    .image21{
        width: 240px;
    }
    .imagebg
    {
        height: 170px;
    }
    .facility-content{
        margin: 10px 0;
    }
    .facility-content h1{
        font-size: 1.1rem;
    }
    .facility-content p{
        font-size: 0.4rem;
        margin: 7px 0;
    }
    .facility-content button{
        font-size: 0.3rem;
        padding: 5px 7px;
    }


    .article-section h1{
        font-size: 1.3rem;
    }

    .article-section p{
        font-size: 0.4rem;
        margin: 10px 30px ;
    }


    

    .subscribe-box div {
        width: 80%;
        margin: 10px auto;
        
    }
    .subscribe-box div img{
        position: absolute;
        left: 15px;
        width: 15px;
        height: 15px;
    }


    

    .footer{
        margin: 30px auto;
        gap: 20px;
    }
    .footer-logo img{
        width: 60px;
        height: 50px;
    }
    .footer-logo p{
        margin: 10px 0;
        font-size: 10px;
    }
    .footer-logo div img{
        width: 15px;
        height: 15px;
        margin: 0 2px;
    }
    .footer-logo{
        width: 40%;
    }

    .footer-content{
        gap: 10px;
        font-size: 7px;
    }
    .footer-content div ul li{
        margin: 5px 2px; 
        font-size: 8px;
    }
    .footer-content div h3{
        font-size: 9px;
    }

    
}

@media screen and (max-width:320px){
    .facility{
        display: block;
    }
    .image21{
        width: 220px;
    }
    
    .footer{
        margin: 30px auto;
        gap: 20px;
    }
    .footer-logo img{
        width: 50px;
        height: 40px;
    }
    .footer-logo p{
        margin: 6px 0;
        font-size: 0.4rem;
    }



    
}